{%extends 'base.html'%}
{%block body%}
<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    </head>

<div style='text-align:center'>
<!--If there are issues logging in-->
                {%if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
                {%endif%}
                <p style='color:red'>{{valid}}
                {{form.errors}}</p>


                {% if request.user.is_anonymous %}
                    <!--Regular login form-->
                    <h1 style='text-align:center'>Login</h1>
                    <form method='POST' action="/login/">
                    {%csrf_token%}
                        {{form.as_p}}

                        <input class="btn btn-sm btn-primary" type='submit' value='Login' />
                        <input type="hidden" name="next" value="{{ next }}" />
                    </form>

                {% else %}
                    
                    <!--does not display form-->
                    
                    <div style='text-align:center'>
                        <h2>Logged in as {{request.user}}</h2></br>
                        <h3><a href='/profile/{{request.user.pk}}'>Profile</a> |
                        <a href="/logout/">Logout</a></h3>
                    </div>

                {% endif %}
</div>
{%endblock body%}